html {
    font-family: var(--header-font)
}

.photo {
    width: 15rem;
    filter: grayscale(100%) brightness(110%);
    border: none;
}

.photo:hover {
    filter: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-page {
    display: flex;
    flex-direction: column;
}

.text-container {
    flex: 2;
    margin: auto;
    text-align: justify;

}


.main-page-wrapper, .sub-page-wrapper {
    width: 100%;
    margin: auto;
    border-radius: 10px;
}


.sub-page-wrapper:nth-child(odd) {
    background-color: rgba(252, 252, 252) /* Purple */
}

.sub-page-wrapper:nth-child(even) {
    background-color: rgba(245, 245, 245); /* Slightly darker grey */
}

.sub-page {
    padding: 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: unset;
}

.last-updated {
    color: gray;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: auto;
    font-size: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

h1::before {
    content: unset;
}

h2::before {
    content: unset;
}

h3::before {
    content: unset;
}

h4::before {
    content: unset;
}

h5::before {
    content: unset;
}

h6::before {
    content: unset;
}

@media (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
    }


    .last-updated {
        display: flex;
        margin-top: auto;
    }
}

.animated-header {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 0.8s ease forwards;
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add this new rule for better text visibility */
.research-topic div span.primary-color {
    color: var(--primary-color); /* Use the primary color for the dot */
}