html {
    font-family: var(--header-font)
}

.photo {
    width: 15rem;
    filter: grayscale(100%) brightness(110%);
    border: none;
}

.photo:hover {
    filter: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-container {
    flex: 2;
    margin: auto;
}

.photo-container {
    flex: 1;
    margin: auto;
    text-align: right;
}

.research-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.research-topic {
    display: flex;
    flex-direction: column;
    
    flex-basis: 250px;
}

.research-topic img {
    width: 25rem;;
}


@media (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .photo-container {
        margin-left: 0;
    }

    .research-container {
        display: flex;
        flex-direction: column;
    }

    .research-topic {
        margin: 2rem 0;
    }
}
