{% import "macros/macros.html" as post_macros %}
{% import "macros/custom.html" as custom %}

<!DOCTYPE html>
<html class="dark light">

{% include "partials/header.html" %}

<meta name="og:image" content="/{{ config.extra.photo }}">

<body>
    <div class="content">
        {% include "partials/nav.html" %}

        {# Post page is the default #}
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}
        {% if page.extra.comment is defined %}{% set show_comment = page.extra.comment %}{% else %}{% set show_comment = config.extra.comment %}{% endif %}

        <span class="last-updated">Last updated on: {{ now() | date(format="%d %B %Y") }}</span>
    </div>
</body>

</html>
