{% extends "section.html" %}

{% block main_content %}
    {% block title %}
        {{ custom::page_header(title=section.title, class="main-header") }}
    {% endblock title %}
    
    <div class="container">
        <div class="main-page-wrapper">
            <div class="main-page">
                <div class="text-container">
                    {{ section.content | safe }}
                </div>
            </div>
        </div>
        {% for page in section.pages %}
            <div class="sub-page">
                {{ custom::page_header(title=page.title) }}
                {{ page.content | safe }}
            </div>
        {% endfor %}
    </div>
{% endblock main_content %}
