{% import "macros/custom.html" as custom %}

{% extends "section.html" %}

{% block main_content %}
    {% block title %}
        <div class="animated-header">
            {{ post_macros::page_header(title=section.title) }}
        </div>
    {% endblock title %}
    
    <div class="research-container">
        {% for page in section.pages %}
            <div class="research-topic" onclick="location.href='{{ page.permalink }}'">
                <img src="{{ custom::asset(page=page, ext='jpeg') }}" alt="{{ page.title }}" />
                <div>{{ page.title }}<span class="primary-color">.</span></div>
            </div>
        {% endfor %}
    </div>
{% endblock main_content %}
